#home{
    min-height: 100vh;
}
.is-invisible{
    display:none;
}

.is-visible{
    display:block;
}
#rule-list{
    margin-top: 0px;
    padding-top: 0px;
    padding-left: 100px;
}
.dice{
    width: 50px;
}